<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="/jqueryui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/jqueryui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
  <title>WriMo</title>
</head>
<body>
  <% if(alerts.error) {%>
    <% alerts.error.forEach(message => { %>
      <div class="alert alert-danger mb-0">
        <%= message %>
      </div>
    <% })} %>
    <% if(alerts.success) {%>
      <% alerts.success.forEach(message => { %>
        <div class="alert alert-success mb-0">
          <%= message %>
        </div>
      <% })} %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark dark-theme">
        <a class="navbar-brand logo-font logo-only" href="/">WriMo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <% if(currentUser){ %>
            <li class="nav-item active">
              <a class="nav-link header-text" href="/user/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active header-text" href="/prompt/all">Prompts<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active header-text" href="/work/all">Works<span class="sr-only"></span></a>
            </li>
                <li class="nav-item active">
                  <a class="nav-link header-text" href="/auth/logout">Logout</a>
                </li>
              <% } else { %>
                <li class="nav-item active">
                  <a class="nav-link header-text" href="/auth/login">Login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link header-text" href="/auth/register">Register</a>
                </li>
              <% } %>
          </ul>
          <form class="form-inline" action="/search" method="GET">
            <input class="form-control mr-sm-2" id="search-input" type="text" name="search" placeholder="Search" aria-label="Search">
            <input type="submit" value="search" class="btn btn-outline-secondary search-btn-color">
          </form>
        </div>
        <button
        class="navbar-toggler mt-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon header-text"></span>
      </button>
      </nav>
    <%- body %>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/jqueryui/jquery-ui.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>

<script>
  $(function () {

$("#search-input").autocomplete({
    source: function (request, response) {
       $.ajax({
          url: "/search/suggestions",
          type: "GET",
          data: request,  // request is the value of search input
          success: function (data) {
            // Map response values to fiedl label and value
             response($.map(data, function (el) {
                return {
                   label: el.username ? el.username 
                   : el.title ? el.title 
                   : el.name,
                   value: el.username ? el.username 
                   : el.title ? el.title 
                   : el.name,
                };
                }));
             }
          });
       },
       
       // The minimum number of characters a user must type before a search is performed.
       minLength: 1,
       
       // set an onFocus event to show the result on input field when result is focused
       focus: function (event, ui) {
          this.value = ui.item.label;
          // Prevent other event from not being execute
          event.preventDefault();
       },
});

});
</script>
