<h2 class="ml-2">New Prompt</h2>
<form class="mx-2 form-horizontal" action="/prompt/create" method="post">
    <div class="mb-2">
        <label class="control-label">Title</label>
        <input class="form-control" type="text" name="name">
    </div>
    <div class="mb-2">
        <label class="control-label">Tags: </label>
        <% tags.forEach(tag => { %>
            <label for="tags" class="checkbox-inline">
            <input class="mr-2"type="checkbox" name="tags" id="<%= tag.id %>" value="<%= tag._id %>"><%= tag.name %>
        </label>
        <% }) %>
    </div>
    <div class="mb-2">
        <label class="control-label">Description</label>
        <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <button class="mt-2 btn btn-secondary" type="submit" style="background-color: #45A29E !important;">Save</button>
</form>