<div class="outer">
    <div class="inner mt-6">
        <form action="/tag/create" class="form-inline" method="post">
            <div>
                <span>Tag:</span>
                <input type="text" name="name" class="form-control"/>
                <input type="submit" class="btn btn-outline-secondary" style="background-color: #45A29E !important; color:white; display:inline;" value="Create"/>
            </div>
        </form>
    </div>
</div>
